# Shield definitions for skreecustom

config SHIELD_SKREECUSTOM_LEFT
    def_bool $(shields_list_contains,skreecustom_left)

config SHIELD_SKREECUSTOM_RIGHT
    def_bool $(shields_list_contains,skreecustom_right)

config SHIELD_DONGLE
    def_bool $(shields_list_contains,dongle)
